<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar nova peça</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="padding-top: 30px">

  <form [formGroup]="newLookForm" (ngSubmit)="registerNewLook(newLookForm.value)">

    <div class="img-wrapper">
      <img [src]="image.value" width="200" alt="Imagem do item">
    </div>

    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" placeholder="Ex: Bota preta" formControlName="name"></ion-input>
    </ion-item>

    <tag-input formControlName="tags" id="tags" [ngModel]="items" separatorKeys=',' clearOnBlur="true" onAdd="teste($event)">
      <tag-input-dropdown [autocompleteItems]="options">
          </tag-input-dropdown>
    </tag-input>

    <button ion-button type="submit" [disabled]="!newLookForm.valid">Submit</button>
  </form>

</ion-content>
