<ion-header>
  <ion-toolbar>
    <ion-title>
      Pesquisar itens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="search(searchForm.value)" [formGroup]="searchForm">
    <div style="display: inline-flex; width: 100%; padding: 3px 15px">
      <ion-input style="width: 60%" type="text" formControlName="query" name="query" placeholder="Pesquisar"></ion-input>
      <ion-select formControlName="type" value="tags" style="width: 30%">
        <ion-select-option value="tags">Tags</ion-select-option>
        <ion-select-option value="name">Nome</ion-select-option>
      </ion-select>
      <button style="width: 10%" ion-button type="submit" block>
        <ion-icon name="search"></ion-icon>
      </button>
    </div>
  </form>

  <div *ngIf="searchValue != ''" style="display: inline-flex; width: 100%; padding: 3px 15px;">
    <div style="width: 80%">
      <span>Você está buscando por: </span>
      <span>{{searchValue}}</span>
    </div>  
    <button style="width: 20%;" ion-button (click)="cancelSearch()">Cancelar</button>
  </div>

  <ion-row *ngIf="!isSearching">
    <ion-col size="6" *ngFor="let look of looks">
      <ion-card (click)="openLookPage(look)" class="welcome-card">
        <ion-img [src]="look.image"></ion-img>
        <ion-card-header>
          <ion-card-title>
            <span>{{look.name}}</span>
          </ion-card-title>
          <ion-card-subtitle>
            <p style="color: #cdcdcd">Tags</p>
            <span class="tags" *ngFor="let tag of look.tags">{{tag}}</span>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Buscando mais looks...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  
  <!-- Loaders and error handling -->
  <div *ngIf="this.looks.length == 0 && !isSearching">
    <ion-icon class="error-icon" name="sad"></ion-icon>
    <p class="error-description">Nenhum resultado encontrado!</p>
  </div>

  <ion-row *ngIf="isSearching">
    <ion-col size="6">
      <ion-card class="welcome-card loader-card">
        <p style="width: 100%; height: 115px; margin: 0;" class="loading-gradient"></p>
        <ion-card-header>
          <ion-card-title>
            <p style="width: 90%; height: 20px;" class="loading-gradient"></p>
          </ion-card-title>
          <ion-card-subtitle>
            <p style="width: 80%; height: 20px;" class="loading-gradient"></p> 
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="welcome-card loader-card">
        <p style="width: 100%; height: 115px; margin: 0;" class="loading-gradient"></p>
        <ion-card-header>
          <ion-card-title>
            <p style="width: 90%; height: 20px;" class="loading-gradient"></p>
          </ion-card-title>
          <ion-card-subtitle>
            <p style="width: 80%; height: 20px;" class="loading-gradient"></p> 
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="welcome-card loader-card">
        <p style="width: 100%; height: 115px; margin: 0;" class="loading-gradient"></p>
        <ion-card-header>
          <ion-card-title>
            <p style="width: 90%; height: 20px;" class="loading-gradient"></p>
          </ion-card-title>
          <ion-card-subtitle>
            <p style="width: 80%; height: 20px;" class="loading-gradient"></p> 
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>