.radio-button {
    display: inline-flex;
}

ion-radio {
    margin-right: 10px;
}

form button {
    background-color: #fff;
    color: #3880ff;
    height: 35px;
    width: 35px;
    font-size: 22px;
}