<ion-header>
	<ion-toolbar>
		<ion-title>
			Início
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
	<ion-fab-button>
		<ion-icon name="add"></ion-icon>
	</ion-fab-button>
	<ion-fab-list side="top">
		<ion-fab-button (click)="AbrirCamera()"><ion-icon name="camera"></ion-icon></ion-fab-button>
		<ion-fab-button (click)="AbrirGaleria()"><ion-icon name="cloud-upload"></ion-icon></ion-fab-button>
	</ion-fab-list>
</ion-fab>

<ion-content>
	<ion-card class="welcome-card">
		<ion-img src="https://firebasestorage.googleapis.com/v0/b/tcc-especializacao.appspot.com/o/fundotcc.webp?alt=media&token=eb8a07b2-3e29-4dcf-9a26-cb2dde500d5b"></ion-img>
		<ion-card-header>
			<ion-card-subtitle>Bem vindo,</ion-card-subtitle>
			<div *ngIf="afAuth.user | async as user; else anonimo">
				<ion-card-title>{{user.displayName}}</ion-card-title>
			</div>
		</ion-card-header>
		
		<ion-card-content>
			<p>Obrigado por usar nosso aplicativo! Que tal adicionar novas roupas ao seu inventário?</p>
		</ion-card-content>
	</ion-card>

	<ion-card class="welcome-card">
		<div class="slides-wrapper">
			<ion-slides pager="true" [options]="slideOpts">
				<ion-slide *ngFor="let image of imagens">
					<ion-img style="width: auto; height: 200px;" [src]="image"></ion-img>
				</ion-slide>
			</ion-slides>
		</div>

		<ion-card-header>
			<ion-card-title>Últimos uploads</ion-card-title>
		</ion-card-header>
		
		<ion-card-content>
			<p>Essas foram as últimas peças de roupa que você subiu para a nossa plataforma, que tal criar um look com elas, hein? </p>
		</ion-card-content>
	</ion-card>
</ion-content>