<ion-header>
	<ion-toolbar>
		<ion-title>
			Início
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="welcome-card">
		<ion-img src="/assets/shapes.svg"></ion-img>
		<ion-card-header>
			<ion-card-subtitle>Início</ion-card-subtitle>
			<div *ngIf="afAuth.user | async as user; else anonimo">
				<ion-card-title>Bem-Vindo, {{user.displayName}}</ion-card-title>
			</div>
			<ng-template #anonimo>
				<ion-card-title>Olá, anonimo</ion-card-title>
			</ng-template>
		</ion-card-header>
		
		<ion-card-content>
			<p>Now that your app has been created, you'll want to start building out features and components. Check out some
				of the resources below for next steps.</p>
		</ion-card-content>
	</ion-card>
</ion-content>