// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.tags {
    background-color: #eeeeee;
    padding: 3px 6px;
    margin-right: 2px;
    border-radius: 2px;
}

.error-icon {
    margin-top: 20px;
    font-size: 300px;
    color: #ccc;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.error-description {
    text-align: center;
    font-size: 22px;
}

.loading-gradient {
    background: linear-gradient(270deg, #eee, #ffffff);
    background-size: 400% 400%;
    
    -webkit-animation: LoadingAnimation 1s ease infinite;
    -moz-animation: LoadingAnimation 1s ease infinite;
    animation: LoadingAnimation 1s ease infinite;
    
    @-webkit-keyframes LoadingAnimation {
        0%{background-position:0% 47%}
        50%{background-position:100% 54%}
        100%{background-position:0% 47%}
    }
    @-moz-keyframes LoadingAnimation {
        0%{background-position:0% 47%}
        50%{background-position:100% 54%}
        100%{background-position:0% 47%}
    }
    @keyframes LoadingAnimation {
        0%{background-position:0% 47%}
        50%{background-position:100% 54%}
        100%{background-position:0% 47%}
    }
}